    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            width: 1270px;
        }
    }
    
    .video {
        width: 210px;
        height: 224px;
        float: left;
        margin: 20px;
    }
    
    .video h2 {
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .video h4 {
        font-size: 14px;
        margin: 0px;
        color: gray;
    }
    
    .video img {
        width: 246px;
        height: 138px;
    }