@model IEnumerable<Work_with_Partial_View.Models.ProductViewModel>

<h2>Products:</h2>
<table class="table">
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><img width="150" src="@item.Image"></td>
            <td>@item.Name</td>
            <td>@item.Price</td>
        </tr>
    }

</table>
