@model Work_with_Partial_View.Models.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            @Html.Partial("_ListProducts", Model.Products);
        </div>
    
        <div class="col-lg-6">
            @Html.Partial("_ListOrders", Model.Orders);
        </div>
    </div>
</div>

